* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 36%;
    height: 100%;
    width: 100%;
    background-color: black;
}

.text {
    position: absolute;
    height: 15vh;
    width: 55%;
}

.text h1 {
    color: rgba(255, 255, 255, 0.299);
    font-size: 80px;
    width: 100%;
    text-wrap: nowrap;
}


.text2 {
    width: 0%;
    overflow: hidden;
    /* background-color: blue; */

}

.text2 h1 {
    color: white;
}

nav {
    display: flex;
    height: 20vh;
    width: 100%;
    /* background-color: cornflowerblue; */

}



sup {
    font-size: 20px;

}

span {
    font-family: sans-serif;
}

nav {
    height: 16vh;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
}

nav .top {
    height: 10vh;
    width: 100%;
    /* background-color: rgb(53, 53, 111); */
}


nav .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 6vh;
    width: 100%;
    /* background-color: rgb(64, 64, 216); */
}

.bottom a {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scale: 1.2;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom a:hover {
    scale: 1;
    transition: all ease-in-out;
    text-decoration: underline;
}

.top .left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.top .center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    /* background-color: rgb(93, 0, 255); */
}

.top .right {
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255);
}

.top {
    display: flex;
}

.center img {
    height: 20px;
    filter: invert(1);
}

#textarea {
    display: flex;
    padding-top: 13px;
    padding-left: 20px;
    font-size: 20px;
    width: 60%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    border-radius: 3px;
}

.left h3 {
    padding-left: 10%;
}

.img {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    background-image: url(./img9.webp);
    background-size: cover;
}

.img1 {
    position: absolute;
    top: 86.5%;
    left: 100px;
    height: 100px;
    width: 100px;
    background-color: chocolate;
    background-image: url(./img10.webp);
    background-size: cover;
}

.img2 {
    position: absolute;
    top: 0px;
    left: 200px;
    height: 100px;
    width: 100px;
    background-color: rgb(231, 206, 189);
    background-image: url(./img8.webp);
    background-size: cover;
}

.img3 {
    position: absolute;
    top: 86.5%;
    left: 300px;
    height: 100px;
    width: 100px;
    background-color: rgb(224, 203, 189);
    background-image: url(./img7.webp);
    background-size: cover;
}

.img4 {
    top: 0px;
    left: 1421px;
    background-color: aqua;
    background-image: url(./img6.webp);
    background-size: cover;
}

.img5 {
    top: 86.5%;
    left: 1321px;
    background-color: rgb(204, 255, 0);
    background-image: url(./img5.webp);
    background-size: cover;
}

.img6 {
    top: 0%;
    left: 1221px;
    background-color: rgb(238, 255, 0);
    background-image: url(./img4.webp);
    background-size: cover;
}

.img7 {
    top: 86.5%;
    left: 1121px;
    background-color: rgb(0, 128, 255);
    background-image: url(./img3.webp);
    background-size: cover;
}

.img8 {
    top: 0%;
    left: 1021px;
    background-color: rgb(255, 0, 0);
    background-image: url(./img2.webp);
    background-size: cover;
}

.img9 {
    top: 0%;
    left: 400px;
    transform: tra;
    background-image: url(./img1.webp);
    background-size: cover;
}

.one {
    padding-top: 35px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 100vh;
    width: 100%;
    /* background-color: cadetblue; */
}

.image{
    height: 190px;
    width: 260px;
    background-color: brown;
}

.card {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    border-radius: 10px;
    height: 45vh;
    width: 18vw;
    background-color: rgba(3, 3, 3, 0.181);
}